.dashboard-container {
    /* position: relative; */
    /* left: 250px; */
    margin-left: 250px;
    /* width: 100%; */
}

.dashboard {
    padding-bottom: 100px;
}

.dashboard .nav {
    display: none;
}

.food-container {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    justify-content: space-around;
    align-items: center;
    row-gap: 50px;
}

.dashboard .title {
    padding: 100px 50px 100px 50px;
}

.dashboard .title h1 {
    color: #00302E;
    font-weight: 600;
    font-size: 23px;
    line-height: 33px;
    margin-bottom: 0;
}

.dashboard .title p {
    color: #00302E;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    margin-top: 0;
}