.home {
    background-color: hsl(178, 100%, 9%);
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

.home .nav {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: center;
    padding: 50px 70px;
}

.home .nav img {
    width: 180px;
}

.home .nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.home .nav ul a {
    font-size: 21px;
    line-height: 33px;
    text-decoration: none;
    font-weight: 500;
}

.home .nav ul a.unique {
    color: #00302e;
    font-size: 17px;
    line-height: 33px;
    font-weight: 600;
    background-color: #e2b887;
    border-radius: 7px;
    padding: 5px 15px 8px 15px;
}

.home .section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 70px 140px 70px;
}

.home .section1 h2 {
    font-size: 64px;
    line-height: 70px;
    font-weight: 500;
    color: white;
    max-width: 650px;
}

.home .section1 h2 span {
    color: #fbddbb;
}

.home .section1 p {
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.74);
    max-width: 600px;
}

.home .section1 .download {
    transition: all 0.2s ease;
}

.home .section1 .download:hover {
    transform: translateY(5px);
}

.home .section1 .image-container {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}

.home .section1 .image-container img {
    width: 100%;
    height: 100%;
}

.home .section2 {
    text-align: center;
}

.home .section2 h3 {
    font-size: 36px;
    line-height: 33px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.87);
}

.home .section2 p {
    font-size: 18px;
    line-height: 33px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.83);
    max-width: 550px;
    margin: 0 auto;
}

.home .section3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 70px 50px 70px;
}

.home .section4 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 80px 70px 150px 70px;
}

.home .section4 h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fbddbb;
    line-height: 33px;
}

.home .section4 p {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.95);
    line-height: 33px;
    max-width: 500px;
}

.home .section4 input {
    background: #f7f7f7;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    width: 300px;
    max-width: 100%;
    height: 50px;
    padding: 0 20px;
    margin: 0;
    margin-right: 10px;
}

.home .section4 form ::placeholder {
    font-size: 15px;
    color: #b2b2b2;
    font-weight: 400;
}

.home .section4 button {
    background: #fbddbb;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    width: 180px;
    height: 50px;
    margin-right: 10px;
    color: #00302e;
    font-size: 18px;
    font-weight: 500;
}

/* Responsiveness */
@media screen and (max-width: 500px) {
    .home .section4 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 80px 50px 150px 50px;
    }

    .home .section4 h3 {
        font-size: 26px;
        line-height: 33px;
    }

    .home .section4 p {
        font-size: 14px;
        line-height: 25px;
        max-width: 100%;
    }

}