.signup {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.signup img {
    width: 100%;
    min-height: 100vh;
}

.signup .form-container {
    padding: 0 10%;
}

.signup h1 {
    text-align: center;
    color: #00302E;
    font-size: 27px;
    line-height: 33px;
    font-weight: 600;
    margin-bottom: 50px;
}

.signup input {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.83);
    border: 2px solid rgba(251, 221, 187, 0.51);
    border-radius: 5px;
    padding: 20px;
    height: 71px;
    font-family: inherit;
}

.signup input:focus {
    outline: none;
    border: 2px solid rgb(241, 221, 187);
}

.signup ::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 48, 46, 0.53);
    font-family: inherit;
}

.signup button {
    width: 100%;
    background-color: #00302E;
    color: #FBDDBB;
    border-radius: 5px;
    padding: 15px 10px;
    height: 60px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.25s ease;
    font-family: 'Rubik', sans-serif;
}

.signup button:hover {
    border: 2px solid #00302E;
    background-color: #FBDDBB;
    color: #00302E;
}

.signup button:active {
    transform: scale(0.95);
}

.signup .bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup .bottom-container p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 48, 46, 0.91);
}

.signup .bottom-container p a {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(0, 48, 46, 0.91);
    text-decoration: none;
    transition: all .2s ease;
}

.signup .bottom-container p a:hover {
    text-decoration: underline;
    font-size: 14.2px;
}

.signup small {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    color: #00302E;
    font-weight: 400;
    line-height: 33px;
    cursor: pointer;
}


/* Responsiveness */
@media screen and (max-width: 768px) {
    .signup {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
    }

    .signup img {
        width: 100%;
        min-height: unset;
        height: auto;
        max-height: 70vh;
        overflow: hidden;
    }

    .signup .form-container {
        padding: 30px 10%;
    }

    .signup input {
        height: 61px;
    }

    .signup button {
        height: 61px;
    }

    .signup small {
        top: 15px;
        right: 20px;
    }

}